.main {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  font-family: Poppins, sans-serif;
}

.hero {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 65vh;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-around;
}

.heroText {
  /* text-align: center; */
  text-transform: uppercase;
  width: 60%;
  font-weight: 700;
  text-shadow: 2px 5px 10px var(--alternate-color);
  font-size: 82px;
  /* color: var(--secondary-color); */
  margin-left: 2rem;
}

.formContainer {
  margin: 0 5rem;
  width: 20%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--alternate-color);
  outline: none;
  border-radius: 1rem;
  border: none;
}

.form textarea {
  outline: none;
  border-radius: 1rem;
  border: none;
  background-color: var(--alternate-color);
  padding: 0.5rem;
  width: 100%;
  resize: none;
}

.form button {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  border: none;
  transition: 0.2s;
  color: var(--primary-color);
}

.form button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
